{:user {:password-file "~/.hexagram30/graphdb.edn"}
 :logging {
   :nss [
     hxgm30]
   :level :trace}
 :backend {
   :plugin :redis
   :subtype :graphdb
   :graphdb {
     :redis {
       :host "localhost"
       :port 6379}}}}
