{:user {:password-file "~/.hexagram30/graphdb.edn"}
 :logging {
   :nss [
     com.lambdazen.bitsy
     com.orientechnologies
     hxgm30
     org.janusgraph
     taoensso.carmine]
   :level :debug}
 :backend {
   :plugin :redis}}
